<article id="project">
  <div class="project-content">
    <section class="project-body">
      <header class="project-header">
        <h2 class="project-title"><%= @project.title %></h2>
        <h3 class="project-client"><%= @project.client %></h3>
      </header>
    	<p class="project-description">
    		<%= raw @project.description %>
    	</p>
    	<section class="side-info">
    		<% if project.role? %>
      		<h5 class="category">Role</h5>
      		<p class="project-role">
      			<%= @project.role %>
      		</p>
    		<% end %>
    		<% if project.awards? %>
      		<h5 class="category">Awards</h5>
      		<p class="project-awards">
      			<%= @project.awards %>
      		</p>
    		<% end %>
    		<% if project.credit? %>
      		<h5 class="category">Credit</h5>
      		<p class="project-credit">
      			<%= @project.credit %>
      		</p>
    		<% end %>
    	</section>
    </section>
    <section class="project-images">
    	<% @pictures.each do |picture| %>
    	<img class="project-image" src="<%= picture.bitmap.url(:medium) %>" />
      <% end %>
    </section>
  </div>
</article>
