<div class="project-grid">
	<% @projects.each do |project| %>
	<a class="project-item" href="/<%= project.slug %>">
	  <img class="project-thumbnail" src="<%= project.bitmap.url(:square) %>"/>
  	<div class="project-label">
  		<div class="project-letter">
  			<svg version="1.1" baseprofile="full" x="0" y="0" width="200" height="200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  				<defs>
  					<pattern id="<%= project.slug %>" x="0" y="0" patternUnits="userSpaceOnUse" width="350" height="350">
  						<image xlink:href="<%= project.bitmap.url(:square) %>" x="0" y="0" width="350" height="350"></image>
  					</pattern>
  				</defs>
  				<text x="0" y="0" dominant-baseline="text-before-edge" fill="url(#<%= project.slug %>)">
  					<%= project.title[0] %>
  				</text>
  			</svg>
  		</div>
  		<div class="project-text">
  			<h4 class="project-title"><%= project.title %></h4>
  			<h5 class="project-client"><%= project.client %></h5>
  			<p class="project-summary">
  				<%= project.summary %>
  			</p>
  		</div>
  	</div>
	</a>
	<% end %>
</div>
