<h4><%= picture.caption %></h4>
<p>
	<%= picture.credit %>
</p>
<p>
	<label>Weight:</label> <%= picture.weight %><br/>
	<label>Project:</label> <%= picture.project.title %>
</p>
<%= image_tag picture.bitmap.url %>