// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Fonts */
$sans-title: 'Raleway', Helvetica, sans-serif
$sans-body: 'Lucida Grande', sans-serif

/* Colors */
$pink: #ff5b5b
$blue: #3cffdc
$black: black
$white: white
$lightgrey: #dadddd
$grey: grey
$darkgrey: #5a5656
$charcoal: #1e2020

/* Weights */
$normal: 400
$semibold: 600
$bold: 700

/* Sizes */
$fontsize: 16px
$block_width: 350px

/* Mixins */
@mixin transition($args...)
  -moz-transition: $args
  -webkit-transition: $args
  -o-transition: $args
  transition: $args

@mixin scale($n)
  transform: scale($n) /* Use scale to force gpu rendering */
  -ms-transform: scale($n) /* IE 9 */
  -moz-transform: scale($n) /* Firefox */
  -webkit-transform: scale($n) /* Safari and Chrome */
  -o-transform: scale($n) /* Opera */

@mixin columns($count, $gap)
  -webkit-column-count: $count
  -moz-column-count: $count
  column-count: $count
  -webkit-column-gap: $gap
  -moz-column-gap: $gap
  column-gap: $gap


/* Reset */

*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  font-size: $fontsize
  font-family: $sans-title
  font-weight: $normal
  color: $black
  background: $charcoal

a
  color: inherit
  cursor: pointer
  text-decoration: none
  @include transition(color 0.5s)

  &:hover
    text-decoration: none
    background: none
    color: $blue

  &:visited
    color: inherit

p, h1, h2, h3, h4, h5
  font-family: inherit
  line-height: inherit

section
  margin: 0

main
  background: transparent

#main
  width: $block_width*4
  margin: auto
  padding: 0
  background: $charcoal

#content
  color: $darkgrey
  font-weight: $normal
  line-height: 1.5
  font-size: 1em

#nav
  overflow: hidden
  z-index: 1000
  font-family: $sans-title
  padding-top: 1em
  line-height: 30px

  .logo
    color: $white
    font-weight: $normal
    float: left

    .name
      font-weight: $bold
      font-size: 1em

    .verb
      font-size: 0.75em

    .animation
      vertical-align: text-bottom
      display: inline-block

  .contact
    font-family: $sans-title
    color: $darkgrey
    line-height: 30px
    height: 37px
    font-size: 0.8em

    a:hover .highlight
      color: inherit

    .highlight
      color: $grey

  .about-btn
    float: right
    color: $white
    text-transform: uppercase
    font-size: 0.8em
    padding-left: 1em
    border-left: 1px solid $darkgrey
    margin-left: 1em

#introduction
  z-index: 2
  padding-top: 2em
  color: $darkgrey
  width: 25em
  font-weight: $normal
  line-height: 1.1

  .title
    font-size: 1.2em
    margin: 1em 0
    text-transform: uppercase
    font-family: $sans-title
    font-weight: $bold

#about
  border-bottom: 2px solid $pink
  line-height: 1.5em
  font-size: 0.9em
  background: transparent
  overflow: hidden
  position: relative
  z-index: 10
  text-align: center
  background: url('/assets/about_bg.jpg') $pink
  width: 100%
  height: 0

  .about-person
    margin: 3em auto
    text-align: left
    font-weight: $semibold

    .about-title
      text-align: left
      text-transform: uppercase
      color: $white
      margin-bottom: 1em

    .about-biography
      opacity: 0.8
      width: 60%
      overflow: auto
      display: inline-block
      text-align: left

      p
        font-size: 0.9em
        margin-top: 0

    .about-photo
      display: inline-block
      margin-right: 3em
      vertical-align: top

    .close-btn
      float: right
      font-size: 3em
      font-weight: 300
      color: white

#work
  position: relative
  z-index: 10
  overflow: auto
  width: 100%
  padding: 2em 0

  .project-grid
    width: 100%
    margin: auto

    .project-item
      display: block
      float: left
      text-align: left
      position: relative
      overflow: hidden
      margin: 0
      border: 4px solid $charcoal
      background: $white
      -webkit-transform: translateZ(0) /* Fix rendering bug on chrome */

      &:hover
        .project-thumbnail
          -webkit-filter: blur(0)
          border-width: 0.3em
          opacity: 1

        .project-label
          opacity: 0

      .project-thumbnail
        -webkit-filter: blur(5px)
        display: block
        width: 100%
        height: auto
        opacity: 0.3
        border: 0 solid $blue // take a look at : http://www.myadzel.ru/tests/html/text-background/
        // and http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
        @include transition(border 0.3s, opacity 0.5s)

      .project-label
        display: block
        position: absolute
        padding: 2% 10%
        top: 0
        left: 0
        width: 100%
        height: auto
        text-align: left
        font-family: $sans-title
        @include transition(opacity 0.5s)

        .project-letter
          font-weight: $bold
          margin-left: -0.06em

          svg
            height: 1em
            width: 1.5em

            text
              font-size: 1em

        .project-text
          display: block
          margin-top: 5%
          color: $black

          .project-title
            font-family: inherit
            font-weight: $bold
            text-transform: uppercase

          .project-client
            font-family: inherit
            line-height: 1.3
            font-weight: $semibold
            text-transform: uppercase

          .project-summary
            font-family: inherit
            font-weight: $normal

#footer
  color: $darkgrey
  font-size: 0.75em
  padding-bottom: 2em
  text-align: right

  a:hover
    color: $grey


#project
  background: $lightgrey url("/assets/project_bg_top.png") repeat-x
  border: 0
  padding: 0
  margin: 1.5em 5px 0 5px
  overflow: auto
  border: 2px solid $blue
  $body-width: 20em

  .project-content
    position: relative
    float: left
    margin: 4em
    line-height: 1.5

    .project-body
      color: $black
      width: $body-width
      position: absolute
      top: 0
      left: 0
      font-family: $sans-title

      .project-header

        .project-title
          text-transform: uppercase
          font-size: 2em
          font-weight: $bold
          line-height: 1em
          margin-top: 0

        .project-client
          font-weight: $bold
          text-transform: uppercase
          font-size: 0.9em
          color: $black
          margin: 0


      .project-description
        line-height: 1.5em
        font-size: 0.9em
        letter-spacing: 0px
        margin-top: 1em
        margin-bottom: 3em

      .side-info

        .project-role
          font-size: 0.9em
          line-height: 1.4em
          margin-bottom: 3em

        .project-awards
          font-size: 0.9em
          line-height: 1.4em
          margin-bottom: 3em

        .category
          text-transform: uppercase
          color: $black
          border-top: 1px solid $blue
          line-height: 1em
          overflow: hidden
          margin: 0
          padding-top: 0.3em
          font-size: 0.9em

    .project-images
      float: left
      margin-left: $body-width + 5em

      .project-image
        border: 1px solid $lightgrey
        display: block
        margin-bottom: 1em
        width: 100%
        margin-left: 0
        margin-right: 0
        height: auto


// MEDIA QUERIES

@mixin style-grid($block-number, $block-width: 350px)

  $letter-size: 9em
  $title-size: 1.2em
  $client-size: 0.85em
  $summary-size: 0.85em

  @if $block-width < 350px
    $letter-size: 7em
    $title-size: 1em
    $client-size: 0.75em
    $summary-size: 0.8em

  #main
    width: $block_width*$block-number

  #work
    .project-item
      width: $block_width

    .project-letter
      font-size: $letter-size

    .project-title
      font-size: $title-size

    .project-client
      font-size: $client-size

    .project-summary
      font-size: $summary-size

@media (max-width: 640px)
  $block: 350px
  @include style-grid(1, $block)
  .contact
    float: left
  .about-person
    width: $block*1

@media (min-width: 640px)
  $block: 300px
  @include style-grid(2, $block)
  .contact
    float: right
  .about-person
    width: $block*2

@media (min-width: 768px)
  $block: 350px
  @include style-grid(2, $block)
  .about-person
    width: $block*2
    .about-biography
      @include columns(1, 0)

@media (min-width: 960px)
  $block: 300px
  @include style-grid(3, $block)
  .about-person
    width: $block*3
    .about-biography
      @include columns(2, 3em)

@media (min-width: 1280px)
  $block: 300px
  @include style-grid(4, $block)
  .about-person
    width: $block*3

@media (min-width: 1440px)
  $block: 350px
  @include style-grid(4, $block)
  .about-person
    width: $block*3
